body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.row {
  border-top: 1px solid rgb(255, 255, 255);
  height: 40px
}

.softBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 2px;
  background-color: #06AED5;
  color: white;
}

.softBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.col-9 {
  padding-left: 0px;
  padding-right: 0px;
  border-right: 1px solid #7e7a7a;
  border-radius: 0;
  margin-top: 2px;
}

.col-2 {
  padding-left: 0px;
}

.col-1 {
  padding: 11px;
  border-top: 1px solid #7e7a7a;
  border-right: 1px solid #7e7a7a;
  text-align: center; 
}

.last-row {
  border-bottom: 1px solid #7e7a7a;
  height: 40px
}

.last-col-9 {
  height: 40px
}
